In [1]:
import os 
import json
import pandas as pd

In [2]:
def calculate_sum_cm(cm):
    res = 0
    for i in cm:
        res += sum(i)
    return res

def calculate_acc_cm(cm):
    female_acc = round(calculate_female_acc(cm), 2)
    male_acc = round(calculate_male_acc(cm), 2)
    return (female_acc + male_acc) / 2

def calculate_female_acc(cm):
    female_row = cm[0]
    return (female_row[0] / (female_row[0] + female_row[1]))*100
    
def calculate_male_acc(cm):
    male_row = cm[1]
    return (male_row[1] / (male_row[0] + male_row[1]))*100

In [3]:
def get_averages(male_perc, female_perc, male_pert, female_pert, test_pert):
    """
    Get average across all sets
    
    model_type : str
        Model type
    """
    assert type(male_perc) == float or male_perc == 'ori'
    assert type(female_perc) == float or female_perc == 'ori'
    male_label = int(male_perc*100) if type(male_perc) == float else male_perc
    female_label = int(female_perc*100) if type(female_perc) == float else female_perc
    all_dfs = []
    new_v = [1,5,8,10]
    for set_no in new_v:
        print('----------------------')
        print("Set no:", set_no)
        directory = f'cr_cm_results/male_{male_label}_{male_pert}_female_{female_label}_{female_pert}/set{set_no}/'
        gender = 'bothg'
        perturbation = 'ori'
        # 
        res = {}
        row = []
        for model_type in ['mobile', 'dense', 'res']:
            print(f"Model:{model_type}")
            # print("cr_cm_{}_{}_{}".format(model_type, perturbation, gender))
            with open(f"{directory}cr_cm_{model_type}_{perturbation}_{gender}") as json_file:
                data = json.load(json_file)
                data = json.loads(data)
            cm = data[f"cm_{model_type}_{gender}"]
            print(cm)
            all_acc = round(calculate_acc_cm(cm), 2)
            female_acc = round(calculate_female_acc(cm), 2)
            male_acc = round(calculate_male_acc(cm), 2)
            row = [all_acc, female_acc, male_acc]
            print("Both Gender Acc:", all_acc)
            print("Female cm:", female_acc)
            print("Male cm:", male_acc)
            print("=====================")
            res[perturbation] = row
        df = pd.DataFrame(data=res)
        all_dfs.append(df)
    return df

In [15]:
all_dfs = get_averages('ori', 'ori', 'ori', 'ori')

----------------------
Set no: 1
Model:mobile
[[1606, 329], [360, 1575]]
Both Gender Acc: 82.2
Female cm: 83.0
Male cm: 81.4
=====================
Model:dense
[[1683, 252], [339, 1596]]
Both Gender Acc: 84.73
Female cm: 86.98
Male cm: 82.48
=====================
Model:res
[[1744, 191], [422, 1513]]
Both Gender Acc: 84.16
Female cm: 90.13
Male cm: 78.19
=====================
----------------------
Set no: 5
Model:mobile
[[1419, 516], [236, 1699]]
Both Gender Acc: 80.56
Female cm: 73.33
Male cm: 87.8
=====================
Model:dense
[[1435, 500], [174, 1761]]
Both Gender Acc: 82.59
Female cm: 74.16
Male cm: 91.01
=====================
Model:res
[[1700, 235], [381, 1554]]
Both Gender Acc: 84.09
Female cm: 87.86
Male cm: 80.31
=====================
----------------------
Set no: 8
Model:mobile
[[1732, 203], [695, 1240]]
Both Gender Acc: 76.8
Female cm: 89.51
Male cm: 64.08
=====================
Model:dense
[[1562, 373], [226, 1709]]
Both Gender Acc: 84.52
Female cm: 80.72
Male cm: 88.32
=====================
Model:res
[[1656, 279], [328, 1607]]
Both Gender Acc: 84.31
Female cm: 85.58
Male cm: 83.05
=====================
----------------------
Set no: 10
Model:mobile
[[1569, 366], [353, 1582]]
Both Gender Acc: 81.43
Female cm: 81.09
Male cm: 81.76
=====================
Model:dense
[[1493, 442], [198, 1737]]
Both Gender Acc: 83.47
Female cm: 77.16
Male cm: 89.77
=====================
Model:res
[[1457, 478], [157, 1778]]
Both Gender Acc: 83.59
Female cm: 75.3
Male cm: 91.89
=====================

In [5]:
all_dfs = get_averages(0.1, 'ori')

----------------------
Set no: 1
Model:mobile

FileNotFoundError: [Errno 2] No such file or directory: 'cr_cm_results/male_10_female_ori/set1/cr_cm_mobile_all_bothg'

In [9]:
all_dfs

     all
0  79.35
1  89.83
2  68.88

In [6]:
all_dfs[0]

KeyError: 0

In [17]:
all_dfs[1]

     all
0  64.33
1  96.39
2  32.27

In [18]:
all_dfs[2]

     all
0  69.11
1  91.86
2  46.36

In [19]:
all_dfs[3]

     all
0  68.09
1  96.32
2  39.86