In [1]:
import os 
import json
import pandas as pd

In [2]:
def calculate_sum_cm(cm):
    res = 0
    for i in cm:
        res += sum(i)
    return res

def calculate_acc_cm(cm):
    female_acc = round(calculate_female_acc(cm), 2)
    male_acc = round(calculate_male_acc(cm), 2)
    return (female_acc + male_acc) / 2

def calculate_female_acc(cm):
    female_row = cm[0]
    return (female_row[0] / (female_row[0] + female_row[1]))*100
    
def calculate_male_acc(cm):
    male_row = cm[1]
    return (male_row[1] / (male_row[0] + male_row[1]))*100

In [23]:
def get_averages(model_type, male_perc, female_perc):
    """
    Get average across all sets
    
    model_type : str
        Model type
    """
    assert type(male_perc) == float or male_perc == 'ori'
    assert type(female_perc) == float or female_perc == 'ori'
    male_label = int(male_perc*100) if type(male_perc) == float else male_perc
    female_label = int(female_perc*100) if type(female_perc) == float else female_perc
    all_dfs = []
    new_v = [1,5,8,10]
    for set_no in new_v:
        print('----------------------')
        print("Set no:", set_no)
        directory = f'cr_cm_results/male_{male_label}_female_{female_label}/set{set_no}/'
        gender = 'bothg'
        perturbations = ['all']
        for filename in os.listdir(directory):
            res = {}
            if filename != ".ipynb_checkpoints":
                row = []
                for perturbation in perturbations:
                    # print("cr_cm_{}_{}_{}".format(model_type, perturbation, gender))
                    with open(f"{directory}cr_cm_{model_type}_{perturbation}_{gender}") as json_file:
                        data = json.load(json_file)
                        data = json.loads(data)
                    cm = data[f"cm_{model_type}_{gender}"]
                    all_acc = round(calculate_acc_cm(cm), 2)
                    female_acc = round(calculate_female_acc(cm), 2)
                    male_acc = round(calculate_male_acc(cm), 2)
                    row = [all_acc, female_acc, male_acc]
                    print("Both Gender Acc:", all_acc)
                    print("Female cm:", female_acc)
                    print("Male cm:", male_acc)
                    print("=====================")
                    res[perturbation] = row
        df = pd.DataFrame(data=res)
        all_dfs.append(df)
    return df

In [24]:
all_dfs = get_averages('mobile', 0.1, 0.1)

----------------------
Set no: 1
Both Gender Acc: 71.83
Female cm: 92.05
Male cm: 51.62
=====================
Both Gender Acc: 71.83
Female cm: 92.05
Male cm: 51.62
=====================
Both Gender Acc: 71.83
Female cm: 92.05
Male cm: 51.62
=====================
----------------------
Set no: 5
Both Gender Acc: 64.33
Female cm: 96.39
Male cm: 32.27
=====================
Both Gender Acc: 64.33
Female cm: 96.39
Male cm: 32.27
=====================
Both Gender Acc: 64.33
Female cm: 96.39
Male cm: 32.27
=====================
----------------------
Set no: 8
Both Gender Acc: 69.11
Female cm: 91.86
Male cm: 46.36
=====================
Both Gender Acc: 69.11
Female cm: 91.86
Male cm: 46.36
=====================
Both Gender Acc: 69.11
Female cm: 91.86
Male cm: 46.36
=====================
----------------------
Set no: 10
Both Gender Acc: 68.09
Female cm: 96.32
Male cm: 39.86
=====================
Both Gender Acc: 68.09
Female cm: 96.32
Male cm: 39.86
=====================
Both Gender Acc: 68.09
Female cm: 96.32
Male cm: 39.86
=====================

In [20]:
all_dfs

[     all
 0  71.83
 1  92.05
 2  51.62,
      all
 0  64.33
 1  96.39
 2  32.27,
      all
 0  69.11
 1  91.86
 2  46.36,
      all
 0  68.09
 1  96.32
 2  39.86]

In [16]:
all_dfs[0]

     all
0  71.83
1  92.05
2  51.62

In [17]:
all_dfs[1]

     all
0  64.33
1  96.39
2  32.27

In [18]:
all_dfs[2]

     all
0  69.11
1  91.86
2  46.36

In [19]:
all_dfs[3]

     all
0  68.09
1  96.32
2  39.86